
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
}



td:nth-child(7) img{
    width: 2rem;
    height: 2rem;
}

td:nth-child(7){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}






















































































/* /////Angela\\\\\\ */
table tr td:nth-child(2) img{
    border: 1px solid grey;
    border-radius: 50%;
}













































tr:hover{
    background-color: white;
    box-shadow: 0 0 5px grey;
}


